.App,
html {
	text-align: center;
	background-color: #282c34;
}

.App-link {
	color: #09d3ac;
}

.maintitle {
	padding: 20px 10px;
	font-size: 36px;
	font-weight: bold;
	color: #fff;
}

/* movies */

.moviecards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	background-color: teal;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}
.moviecard {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #ccc;
	border-radius: 10px;
	-webkit-box-shadow: 6px 6px 5px -4px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 6px 6px 5px -4px rgba(0, 0, 0, 0.28);
	box-shadow: 6px 6px 5px -4px rgba(0, 0, 0, 0.28);
	margin: 10px;
	padding: 10px 10px;
	width: 180px;
}

.moviecard h1 {
	word-wrap: normal;
	font-size: 16px;
}

.moviecard img {
	max-width: 200px;
	max-height: 200px;
}

li {
	list-style-type: none;
}

/* button */
.btn-add {
	background-color: orangered;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 20px;
	border-bottom: #fff solid 2px;
}

.btn-save {
	background-color: teal;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 20px;
	border-bottom: #fff solid 2px;
	margin-top: 20px;
}

.btn-clear {
	background-color: #282c34;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 20px;
	border-bottom: #fff solid 2px;
	margin-top: 20px;
}

/* Bottom Panel */
.bottompanel {
	display: flex;
	flex-direction: row;
	background-color: #000;
	color: orangered;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	min-height: 300px;
}

.watchlist {
	background-color: teal;
	display: flex;
	flex-direction: row;
	flex-basis: 75%;
}

.infopanel {
	display: flex;
	flex-direction: column;
	flex-basis: 25%;
	background-color: #ccc;
	color: #000;
	padding: 10px;
}
